<div style="text-align: center; width: 100vw; height: 30vh; font-size: '40px';"> Chess Tournoment language  </div>
<div style="width: 100vw; height: 70vh; display: flex; flex-direction: row;">
  <div style="width: 50vw; height: 70vh;">
    <ngx-monaco-editor
      style="height: 100%; width: 100%; text-align: left;"
      [options]="editorOptions"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
  </div>

  <div style="width: 50vw; height: 70vh;">
    <ngx-monaco-editor
      style="height: 100%; width: 100%; text-align: left;"
      [options]=""
      [ngModel]="code | parse"
    ></ngx-monaco-editor>
  </div>
</div>
